@model Rela_project.Models.CheckSimilarity.CheckSimilarityTogether

<table class="table table-striped table-hover" id="tblDisplayResults">
    <thead>
        <tr>
            <th>Attribute</th>
            <th>Father(%)</th>
            <th>Children(%)</th>
            <th>Mother(%)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Similarity</td>
            <td>@Model.similarityTest[0].Confidence.ToString("P")</td>
            <td>-</td>
            <td>@Model.similarityTest[1].Confidence.ToString("P")</td>
        </tr>
        @if (Model.cognitiveMicrosoft[0].faceAttributes.glasses != null && Model.cognitiveMicrosoft[1].faceAttributes.glasses != null && Model.cognitiveMicrosoft[2].faceAttributes.glasses != null)
        {
            <tr>
                <td>Glasses</td>
                <td>@Model.cognitiveMicrosoft[0].faceAttributes.glasses</td>
                <td>@Model.cognitiveMicrosoft[2].faceAttributes.glasses</td>
                <td>@Model.cognitiveMicrosoft[0].faceAttributes.glasses</td>
            </tr>
        }
        <tr>
            <td>Smile</td>
            <td>
                @Model.cognitiveMicrosoft[0].faceAttributes.smile.ToString("P")
            </td>
            <td>
                @Model.cognitiveMicrosoft[2].faceAttributes.smile.ToString("P")
            </td>
            <td>
                @Model.cognitiveMicrosoft[1].faceAttributes.smile.ToString("P")
            </td>
        </tr>
        <tr>
            <td>Emotion - anger</td>
            <td>
                @Model.cognitiveMicrosoft[0].faceAttributes.emotion.anger.ToString("P")
            </td>
            <td>
                @Model.cognitiveMicrosoft[2].faceAttributes.emotion.anger.ToString("P")
            </td>
            <td>
                @Model.cognitiveMicrosoft[1].faceAttributes.emotion.anger.ToString("P")
            </td>
        </tr>
        <tr>
            <td>Contempt</td>
            <td>
                @Model.cognitiveMicrosoft[0].faceAttributes.emotion.contempt.ToString("P")
            </td>
            <td>
                @Model.cognitiveMicrosoft[2].faceAttributes.emotion.contempt.ToString("P")
            </td>
            <td>
                @Model.cognitiveMicrosoft[1].faceAttributes.emotion.contempt.ToString("P")
            </td>
        </tr>
        <tr>
            <td>Disgust</td>
            <td>
                @Model.cognitiveMicrosoft[0].faceAttributes.emotion.disgust.ToString("P")
            </td>
            <td>
                @Model.cognitiveMicrosoft[2].faceAttributes.emotion.disgust.ToString("P")
            </td>
            <td>
                @Model.cognitiveMicrosoft[1].faceAttributes.emotion.disgust.ToString("P")
            </td>
        </tr>
        <tr>
            <td>Fear</td>
            <td>
                @Model.cognitiveMicrosoft[0].faceAttributes.emotion.fear.ToString("P")
            </td>
            <td>
                @Model.cognitiveMicrosoft[2].faceAttributes.emotion.fear.ToString("P")
            </td>
            <td>
                @Model.cognitiveMicrosoft[1].faceAttributes.emotion.fear.ToString("P")
            </td>
        </tr>
        <tr>
            <td>Happiness</td>
            <td>
                @Model.cognitiveMicrosoft[0].faceAttributes.emotion.happiness.ToString("P")
            </td>
            <td>
                @Model.cognitiveMicrosoft[2].faceAttributes.emotion.happiness.ToString("P")
            </td>
            <td>
                @Model.cognitiveMicrosoft[1].faceAttributes.emotion.happiness.ToString("P")
            </td>
        </tr>
        <tr>
            <td>Neutral</td>
            <td>
                @Model.cognitiveMicrosoft[0].faceAttributes.emotion.neutral.ToString("P")
            </td>
            <td>
                @Model.cognitiveMicrosoft[2].faceAttributes.emotion.neutral.ToString("P")
            </td>
            <td>
                @Model.cognitiveMicrosoft[1].faceAttributes.emotion.neutral.ToString("P")
            </td>
        </tr>
        <tr>
            <td>Sadness</td>
            <td>
                @Model.cognitiveMicrosoft[0].faceAttributes.emotion.sadness.ToString("P")
            </td>
            <td>
                @Model.cognitiveMicrosoft[2].faceAttributes.emotion.sadness.ToString("P")
            </td>
            <td>
                @Model.cognitiveMicrosoft[1].faceAttributes.emotion.sadness.ToString("P")
            </td>
        </tr>
        <tr>
            <td>Surprise</td>
            <td>
                @Model.cognitiveMicrosoft[0].faceAttributes.emotion.surprise.ToString("P")
            </td>
            <td>
                @Model.cognitiveMicrosoft[2].faceAttributes.emotion.surprise.ToString("P")
            </td>
            <td>
                @Model.cognitiveMicrosoft[1].faceAttributes.emotion.surprise.ToString("P")
            </td>
        </tr>
    </tbody>
</table>
